@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css');

body {
  background-color: #F3F4F6; /* 기존 bg-gray-100 */
  font-family: 'Sans', sans-serif; /* 기존 font-sans */
}

header {
  background-color: white; /* 기존 bg-white */
  color: black; /* 기존 text-black */
  padding-top: 1rem; /* 기존 py-4 */
  padding-bottom: 1rem; /* 기존 py-4 */
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex; /* flex 추가 */
  align-items: flex-end; /* 기존 items-center */
}

.header-title {
  font-size: 1.5rem; /* 텍스트 크기 줄이기 */
  font-weight: 600; /* 폰트를 조금 더 두껍게 */
  margin-bottom: 0.3rem; /* 하단 마진 추가 */
}

.header-nav {
  font-size: 1rem; /* 텍스트 크기 줄이기 */
  font-weight: 600; /* 폰트를 조금 더 두껍게 */
}

.header-nav:hover {
  color: #525356; /* hover:text-gray-400 */
}

.nav-container {
  margin-left: auto;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.page-title {
  font-size: 1.875rem; /* text-3xl */
  font-weight: bold;   /* font-bold */
  margin: 5rem 0; /* 상단 및 하단 마진을 늘려 영역 상하 키우기 */
  text-align: center; /* center 정렬 */
}

h2 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600; /* 폰트를 조금 더 두껍게 */
}

.common-h3 {
  font-size: 1.125rem; /* text-lg */
  font-weight: 500; /* font-medium */
}

.section {
  background-color: white; /* bg-white */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
  border-radius: 0.5rem; /* rounded-lg */
  padding: 1.5rem; /* p-6 */
  margin-bottom: 1.5rem; /* mb-6 */
}

.section-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem; /* mt-4 */
  margin-bottom: 0.5rem; /* mb-4 */
}

.toggle-button {
  background-color: #3b82f6; /* bg-blue-500 */
  color: white;
  padding: 0.5rem 1rem; /* px-4 py-2 */
  border-radius: 0.25rem; /* rounded */
}

.card-class {
  background-color: #e2e8f0; /* bg-gray-200 */
  transition: background-color 0.2s; /* transition-colors duration-200 */
  border-radius: 0.5rem; /* rounded-lg */
  padding: 1rem; /* p-4 */
}

.card-class:hover {
  background-color: #cbd5e0; /* hover:bg-gray-300 */
}


@media (max-width: 768px) {
  .header-title {
    font-size: 1.4rem; /* 텍스트 크기 줄이기 */
    font-weight: 600; /* 폰트를 조금 더 두껍게 */
    margin-bottom: 0.3rem; /* 하단 마진 추가 */
  }
  
  .header-nav {
    font-size: 0.9rem; /* 텍스트 크기 줄이기 */
    font-weight: 500; /* 폰트를 조금 더 두껍게 */
  }
}
